@import 'classes.css';
@import 'main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  transition: all 0.3s ease-in-out;
}

body {
  background: var(--bg-main);
  font-family: var(--font-family-Helvetica);
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

button{
  all: unset;
  cursor: pointer;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-primary{
 color: var(--btn-text-primary);
 background: var(--btn-bg-primary);
}

.btn-second{
  color: var(--btn-text-primary);
  background: var(--btn-bg-second);
 }


 